section{
    font-family: sans-serif;
    background: #f5f5f5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    min-height: 100vh;
}
.success_msg{
    background: #35d259;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    margin: 0;
}
.error_msg{
    background: #fe4c50;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    margin: 0;
}

.SectionLogin h1{
    font-weight: 600;
    font-size: 25px;
    color: #0e8ce4;
}

.SectionLogin p{
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
}

.SectionLogin span{
    font-size: 12px;
    text-transform: capitalize;
    margin-bottom: 5px;
}

.SectionLogin a{
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
}

.Container{
    background: #fff;
    position: relative;
    width: 800px;
    max-width: 100%;
    min-height: 520px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.05);
    border-radius: 4px;
    overflow: hidden;
}

.form-Container form{
    background: #fff;
    display: flex;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.form-Container input{
    background: #fff;
    border: 1px solid #eee;
    padding: 12px 15px;
    margin:8px 0;
    width: 100%; 
    outline: none;
}

.SectionLogin button{
    border-radius:none;
    border: 2px solid #0e8ce4;
    background: #0e8ce4;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    outline: none;
    transition: transform 80ms ease-in;
    cursor: pointer;
    margin: 8px 0;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,.15);
}

.SectionLogin button:active{
    transform: scale(0.95);
}
.SectionLogin button:hover{
    color: #fff;
}
.SectionLogin button:focus{
    outline: none;
}

.SectionLogin button.ghost{
    background: transparent;
    border-color: #fff;
}

.form-Container{
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-in-Container{
    left: 0;
    width: 50%;
    z-index: 2;
}
.sign-up-Container{
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.overlay-Container{
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 9;
}

.overlay{
    background: #0e8ce4;
    background: linear-gradient(to right, #0e8ce4, #0e8ce4) no-repeat 0 0 / cover;
    color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.overlay-panel{
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
    height: 100%;
    width: 50%;
    text-align: center;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.overlay-right {
    right:0;
    transform: translateX(0);
}

.overlay-left {
    transform: translateX(-20%);
}


/*Animation*/

/*Move signin to the right*/
.Container.right-panel-active .sign-in-Container{
    transform: translateX(100%);
}

/*Move Overlay to the left */
.Container.right-panel-active .overlay-Container{
    transform: translateX(-100%);
}

/* bring sinup over sign in*/
.Container.right-panel-active .sign-up-Container{
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
}

/*Move overlay back to right*/
.Container.right-panel-active .overlay{
    transform: translateX(50%);
}

.Container.right-panel-active .overlay-left{
    transform: translateX(0);
}

.Container.right-panel-active .overlay-right{
    transform: translateX(20%);
}












@media (max-width:700px) {
    body{
        margin: 0 ;
    }

    img {
    height: 60px;
    }


    .home{
        height: 40px;
        top: 10px;
        left: 10px;
        width: 40px;
    }
    .home a i{
        font-size: 20px;
        height: 40px;
        width: 40px;
        line-height: 40px;
    }


    p{
        margin: 10px;
    }

        .Container{
            position: relative;
            width: calc(100% - 40px);
            min-height:calc(100vh - 40px);
        }   

        .form-Container{
        position: absolute;
        top: 0;
        height: 70%;
        transition: all 0.6s ease-in-out;
    }

        .sign-in-Container{
            top: 0;
            width: 100%;
        }
        .sign-up-Container{
            top: 0;
            width: 100%;
        }

        .overlay-Container{
            top: 70%;
            left: 0;
            width: 100%;
            height: 30%;
        }

    .overlay p{
        display:none;
    }
    .overlay{
        top: -100%;
        left: 0;
        height: 200%;
        width: 100%;
        /*transform: translateY(0);*/
    }

    .overlay-panel{
        top: 0;
        height: 30%;
        width: 100%;
        transform: translateY(0);
    }

    .overlay-right {
        top: 55%;
        transform: translateY(0);
    }

    .overlay-left {
        top: 10%;
        transform: translateY(-20%);
    }


    /*Animation*/

    /*Move signin to the right*/
    .Container.right-panel-active .sign-in-Container{
        transform: translateY(100%);
    }

    /*Move Overlay to the left */
    .Container.right-panel-active .overlay-Container{
        top:30%;
        transform: translateY(-100%);
    }

    /* bring sinup over sign in*/
    .Container.right-panel-active .sign-up-Container{
        top: -40%;
        transform: translateY(100%);
    }

    /*Move overlay back to right*/
    .Container.right-panel-active .overlay{
        transform: translateY(50%);
    }

    .Container.right-panel-active .overlay-left{
        transform: translateY(0);
    }

    .Container.right-panel-active .overlay-right{
        transform: translateY(20%);
    }
}